{% block sms77_api_compose %}
    <sw-page>
        <template slot="smart-bar-header">
            <h2>{{ $t('sms77-api.compose.header') }}</h2>
        </template>

        <template slot="smart-bar-actions">
            <sw-button
                    :disabled="isDisabled"
                    form="sms77_compose"
                    :isLoading="isLoading"
                    variant="primary"
            >
                {{ $t('sms77-api.compose.submit') }}
            </sw-button>
        </template>

        <template slot="content">
            <sw-alert v-if='info' variant="info" appearance="default"
                      :showIcon="true" :closable="false">
                {{ info }}
            </sw-alert>

            <form method="post" style='display: flex;' id='sms77_compose'
                  @submit.prevent="handleSubmit">
                <div style='width: 50%; padding-right: 6px;'>
                    <sw-textarea-field
                            required
                            type="textarea"
                            validation="required"
                            v-bind='commonSettingAttrs("text")'
                            v-model="configuration.smsParams.text"
                            v-tooltip="translateSettingTooltip('text')"
                    ></sw-textarea-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("to")'
                            v-model='configuration.smsParams.to'
                            v-tooltip="translateSettingTooltip('to')"
                    >
                    </sw-text-field>

                    <h3>{{ $t('sms77-api.compose.filters') }}</h3>
                    <p>{{ $t('sms77-api.compose.intro') }}</p>

                    <sw-entity-multi-select
                            @change="setCustomerGroupIds"
                            entity="customer_group"
                            :entityCollection="customerGroups"
                            :label="translateSettingLabel('customer.groupIds')"
                            :resultLimit='null'
                            :valueLimit='null'
                            v-if='null !== customerGroups'
                            v-tooltip="translateSettingTooltip('customer.groupIds')"
                    >
                    </sw-entity-multi-select>

                    <sw-entity-multi-select
                            @change="setSalesChannelIds"
                            entity="sales_channel"
                            :entityCollection="salesChannels"
                            :label="translateSettingLabel('customer.salesChannelIds')"
                            :resultLimit='null'
                            :valueLimit='null'
                            v-if='null !== salesChannels'
                            v-tooltip="translateSettingTooltip('customer.salesChannelIds')"
                    >
                    </sw-entity-multi-select>

                    <sw-entity-multi-select
                            @change="setCountryIds"
                            entity="country"
                            :entityCollection="countries"
                            :label="translateSettingLabel('customer.countryIds')"
                            :resultLimit='null'
                            :valueLimit='null'
                            v-if='null !== countries'
                            v-tooltip="translateSettingTooltip('customer.countryIds')"
                    >
                    </sw-entity-multi-select>

                    <sw-entity-multi-select
                            @change="setLanguageIds"
                            entity="language"
                            :entityCollection="languages"
                            :label="translateSettingLabel('customer.languageIds')"
                            :resultLimit='null'
                            :valueLimit='null'
                            v-if='null !== languages'
                            v-tooltip="translateSettingTooltip('customer.languageIds')"
                    >
                    </sw-entity-multi-select>

                    <sw-number-field
                            :min='0'
                            numberType='int'
                            v-bind='commonSettingAttrs("customer.limit", false)'
                            v-model='configuration.customerLimit'
                            v-tooltip='translateSettingTooltip("customer.limit")'
                    ></sw-number-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("activeCustomers")'
                            v-model='configuration.activeCustomers'
                            v-tooltip='translateSettingTooltip("activeCustomers")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("guestCustomers")'
                            v-model='configuration.guestCustomers'
                            v-tooltip='translateSettingTooltip("guestCustomers")'
                    ></sw-switch-field>
                </div>

                <div style='width: 50%; padding-left: 6px;'>
                    <sw-number-field
                            :min='0'
                            numberType='int'
                            v-bind='commonSettingAttrs("ttl", false)'
                            v-model='configuration.smsParams.ttl'
                            v-tooltip='translateSettingTooltip("ttl")'
                    >
                    </sw-number-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("delay")'
                            v-model.trim='configuration.smsParams.delay'
                            v-tooltip='translateSettingTooltip("delay")'
                    ></sw-text-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("foreign_id")'
                            v-model.trim='configuration.smsParams.foreign_id'
                            v-tooltip='translateSettingTooltip("foreign_id")'
                    ></sw-text-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("from")'
                            v-model.trim='configuration.smsParams.from'
                            v-tooltip='translateSettingTooltip("from")'
                    ></sw-text-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("label")'
                            v-model.trim='configuration.smsParams.label'
                            v-tooltip='translateSettingTooltip("label")'
                    ></sw-text-field>

                    <sw-text-field
                            v-bind='commonSettingAttrs("udh")'
                            v-model.trim='configuration.smsParams.udh'
                            v-tooltip='translateSettingTooltip("udh")'
                    ></sw-text-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("debug")'
                            v-model='configuration.smsParams.debug'
                            v-tooltip='translateSettingTooltip("debug")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("details")'
                            v-model='configuration.smsParams.details'
                            v-tooltip='translateSettingTooltip("details")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("flash")'
                            v-model='configuration.smsParams.flash'
                            v-tooltip='translateSettingTooltip("flash")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("json")'
                            v-model='configuration.smsParams.json'
                            v-tooltip='translateSettingTooltip("json")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("no_reload")'
                            v-model='configuration.smsParams.no_reload'
                            v-tooltip='translateSettingTooltip("no_reload")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("performance_tracking")'
                            v-model='configuration.smsParams.performance_tracking'
                            v-tooltip='translateSettingTooltip("performance_tracking")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("return_msg_id")'
                            v-model='configuration.smsParams.return_msg_id'
                            v-tooltip='translateSettingTooltip("return_msg_id")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("unicode")'
                            v-model='configuration.smsParams.unicode'
                            v-tooltip='translateSettingTooltip("unicode")'
                    ></sw-switch-field>

                    <sw-switch-field
                            v-bind='commonSettingAttrs("utf8")'
                            v-model='configuration.smsParams.utf8'
                            v-tooltip='translateSettingTooltip("utf8")'
                    ></sw-switch-field>
                </div>
            </form>
        </template>
    </sw-page>
{% endblock %}
