<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>seven Configuration</title>
        <title lang="de-DE">seven Konfiguration</title>

        <input-field>
            <name>apiKey</name>
            <label>API key</label>
            <label lang="de-DE">API-Schlüssel</label>
            <helpText>An API key is needed in order to send SMS. Get yours now
                at seven.io.
            </helpText>
            <helpText lang="de-DE">Ein API-Schlüssel wird benötigt um SMS senden
                zu können. Erfahren Sie mehr auf seven.io.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="multi-select">
            <name>events</name>
            <label>Events</label>
            <label lang="de-DE">Ereignisse</label>
            <helpText>Defines the events when to send SMS.</helpText>
            <helpText lang="de-DE">Definiert die Ereignisse zum Versenden von
                SMS.
            </helpText>
            <options>
                <option>
                    <id>state_enter.order.state.cancelled</id>
                    <name>Order cancelled</name>
                    <name lang="de-DE">Bestellung storniert</name>
                </option>

                <option>
                    <id>state_enter.order.state.completed</id>
                    <name>Order completed</name>
                    <name lang="de-DE">Bestellung abgeschlossen</name>
                </option>

                <option>
                    <id>state_enter.order_delivery.state.shipped</id>
                    <name>Order delivered</name>
                    <name lang="de-DE">Bestellung ausgeliefert</name>
                </option>

                <option>
                    <id>state_enter.order_delivery.state.shipped_partially</id>
                    <name>Order partially delivered</name>
                    <name lang="de-DE">Bestellung teils ausgeliefert</name>
                </option>

                <option>
                    <id>state_enter.order_delivery.state.returned</id>
                    <name>Delivery returned</name>
                    <name lang="de-DE">Lieferung retourniert</name>
                </option>

                <option>
                    <id>state_enter.order_delivery.state.returned_partially</id>
                    <name>Delivery partially returned</name>
                    <name lang="de-DE">Lieferung teils retourniert</name>
                </option>

                <option>
                    <id>state_enter.order_delivery.state.cancelled</id>
                    <name>Delivery cancelled</name>
                    <name lang="de-DE">Auslieferung abgebrochen</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.paid</id>
                    <name>Order paid</name>
                    <name lang="de-DE">Bestellung bezahlt</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.paid_partially</id>
                    <name>Order partially paid</name>
                    <name lang="de-DE">Bestellung teils bezahlt</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.cancelled</id>
                    <name>Payment cancelled</name>
                    <name lang="de-DE">Bezahlvorgang abgebrochen</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.refunded</id>
                    <name>Payment refunded</name>
                    <name lang="de-DE">Bezahlung retourniert</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.refunded_partially
                    </id>
                    <name>Payment partially refunded</name>
                    <name lang="de-DE">Bezahlung teils retourniert</name>
                </option>

                <option>
                    <id>state_enter.order_transaction.state.reminded</id>
                    <name>Payment reminder</name>
                    <name lang="de-DE">An Bezahlung erinnert</name>
                </option>
            </options>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderCancelled</name>
            <label>Cancellation message</label>
            <label lang="de-DE">Stornonachricht</label>
            <defaultValue>Dear customer. We are sorry about the cancelled order. We hope to serve you again soon. Best regards!
            </defaultValue>
            <helpText>Defines the text content for cancellations.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei Stornierungen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderCompleted</name>
            <label>Completion message</label>
            <label lang="de-DE">Finalisierungsnachricht</label>
            <defaultValue>Dear customer. Your order has been marked as completed. Enjoy your goods. Best regards!
            </defaultValue>
            <helpText>Defines the text content for order completions.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei
                Bestellfinalisierung.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderDeliveryCancelled</name>
            <label>Delivery cancellation message</label>
            <label lang="de-DE">Lieferstorno-Nachricht</label>
            <defaultValue>Dear customer. Your order delivery has been marked as cancelled. With best regards!
            </defaultValue>
            <helpText>Defines the text content for delivery cancellations.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei
                Versandstornierungen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderDeliveryShipped</name>
            <label>Shipping message</label>
            <label lang="de-DE">Versandnachricht</label>
            <defaultValue>Dear customer. Your order is ready to be shipped. Log in to your customer account for more information. Best regards!
            </defaultValue>
            <helpText>Defines the text content for shipping confirmation.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei
                Versandbestätigung.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderDeliveryShippedPartially</name>
            <label>Part shipping message</label>
            <label lang="de-DE">Teilmengen-Versandnachricht</label>
            <defaultValue>Dear customer. Your order is ready to be partially shipped. Log in to your customer account for more information. Best regards!
            </defaultValue>
            <helpText>Defines the text content for partial shipping
                confirmation.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt einer
                Teil-Versandbestätigung.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderDeliveryReturned</name>
            <label>Return message</label>
            <label lang="de-DE">Retournachricht</label>
            <defaultValue>Dear customer. Your order has been marked as returned. With best regards!
            </defaultValue>
            <helpText>Defines the text content for returns.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei Retouren.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderDeliveryReturnedPartially</name>
            <label>Partial return message</label>
            <label lang="de-DE">Teilretoure-Nachricht</label>
            <defaultValue>Dear customer. Your order has been partially marked as returned. With best regards!
            </defaultValue>
            <helpText>Defines the text content for partial returns.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei Teil-Retouren.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionPaid</name>
            <label>Payment message</label>
            <label lang="de-DE">Zahlungsnachricht</label>
            <defaultValue>Dear customer. Your order has been marked as paid. Best regards!
            </defaultValue>
            <helpText>Defines the text content for the payment clearance.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt für den
                Zahlungseingang.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionPaidPartially</name>
            <label>Part payment message</label>
            <label lang="de-DE">Teilzahlungs-Nachricht</label>
            <defaultValue>Dear customer. Your order has been marked as partially paid. Best regards!
            </defaultValue>
            <helpText>Defines the text content for the partial payment
                clearance.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt für den Eingang von
                Teilzahlungen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionRefunded</name>
            <label>Refund message</label>
            <label lang="de-DE">Rückerstattung</label>
            <defaultValue>Dear customer. The order amount has been marked as being refunded. Best regards!
            </defaultValue>
            <helpText>Defines the text content for refunds.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt für
                Rückerstattungen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionRefundedPartially</name>
            <label>Partial refund message</label>
            <label lang="de-DE">Teil-Rückerstattung</label>
            <defaultValue>Dear customer. The order amount has been marked as being partially refunded. Best regards!
            </defaultValue>
            <helpText>Defines the text content for partial refunds.</helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt für
                Teil-Rückerstattungen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionReminded</name>
            <label>Payment reminder message</label>
            <label lang="de-DE">Zahlungserinnerung</label>
            <defaultValue>Dear customer. This is just a little reminder that your order still needs to be paid before it gets shipped. Best regards!
            </defaultValue>
            <helpText>Defines the text content for the payment reminder.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt für die
                Zahlungserinnerung.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>textOnOrderTransactionCancelled</name>
            <label>Payment cancellation message</label>
            <label lang="de-DE">Zahlungsausfall-Nachricht</label>
            <defaultValue>Dear customer. Your order payment has been marked as cancelled. Best regards!
            </defaultValue>
            <helpText>Defines the text content for payment cancellations.
            </helpText>
            <helpText lang="de-DE">Definiert den SMS-Inhalt bei
                Zahlungsausfällen.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field>
            <name>from</name>
            <label>Sender</label>
            <label lang="de-DE">Absenderkennung</label>
            <defaultValue>seven</defaultValue>
            <helpText>Defines the sender name for transmitted messages.
            </helpText>
            <helpText lang="de-DE">Definiert die Absenderkennung der
                übermittelten Nachrichten.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="textarea">
            <name>signature</name>
            <label>Signature</label>
            <label lang="de-DE">Signatur</label>
            <defaultValue/>
            <helpText>Text to add to every outgoing message.</helpText>
            <helpText lang="de-DE">Text, welcher jeder ausgehenden Nachricht
                hinzugefügt wird.
            </helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="single-select">
            <name>signaturePosition</name>
            <label>Signature Position</label>
            <label lang="de-DE">Signatur-Position</label>
            <helpText>Defines where in the message to add the signature.
            </helpText>
            <helpText lang="de-DE">Bestimmt, wo die Signatur in der Nachricht
                eingefügt wird.
            </helpText>
            <defaultValue>append</defaultValue>
            <options>
                <option>
                    <id>append</id>
                    <name>Append</name>
                    <name lang="de-DE">Vor Nachricht</name>
                </option>

                <option>
                    <id>prepend</id>
                    <name>Prepend</name>
                    <name lang="de-DE">Hinter Nachricht</name>
                </option>
            </options>
        </input-field>
    </card>
</config>