{% block sms77_api_index %}
    <sw-page>
        <template slot="smart-bar-actions">
            <sw-button
                    :routerLink="{ name: 'sms77.api.compose' }"
                    variant="primary"
            >
                {{ $t('sms77-api.compose.header') }}
            </sw-button>
        </template>

        <template slot="content">
            <h2>{{ $t('sms77-api.messages.header') }}</h2>

            <sw-entity-listing
                    :columns="$options.columns"
                    :isLoading="isLoading"
                    :items="messages"
                    :repository="messageRepository"
                    :showSelection="true"
                    v-if="messages"
            >
                <template slot="more-actions" slot-scope="{ item }">
                    <sw-context-menu-item @click="resend(item)">
                        {{ $t('sms77-api.messages.resend') }}
                    </sw-context-menu-item>
                </template>
            </sw-entity-listing>
        </template>
    </sw-page>
{% endblock %}
